/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');


body {
  text-align: center;
} 

h1 {
  font-family: 'Grenze Gotisch';
  color: #E5B104;

}

html {
  background-color: #AE032D;
}

main {
  color: white;
}

p {
  color: white;
}

 /* header {
  display: flex;
}  */

.correct {
  color: white;
}

.incorrect {
  color: white;
}

@media all and (min-width: 800px) {

};